<footer class="container mt-5 py-4 border-top border-secondary text-center">
        <p class="text-muted small">Yoga Hogantara 2311102153</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</body>
</html>