<%- include("partials/header") %>

<div class="card shadow-sm">
  <div class="card-body">
    <h1 class="mb-3">Aplikasi CRUD</h1>
    <p class="lead">
      
    </p>

    <table class="table table-bordered">
      <tr>
        <th>Nama</th>
        <td>Nadhif Atha Zaki</td>
      </tr>
      <tr>
        <th>NIM</th>
        <td>2311102007</td>
      </tr>
      <tr>
        <th>Program Studi</th>
        <td>S1 Teknik Informatika</td>
      </tr>
    </table>

    <a href="/mahasiswa/form" class="btn btn-success">Input Data</a>
    <a href="/mahasiswa/data" class="btn btn-primary">Lihat Data</a>
  </div>
</div>

<%- include("partials/footer") %>