<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- DataTables Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.bootstrap5.css">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">Tugas Cots-2</a>
    <div>
      <a href="/" class="btn btn-light btn-sm">Beranda</a>
      <a href="/mahasiswa/form" class="btn btn-light btn-sm">Form</a>
      <a href="/mahasiswa/data" class="btn btn-light btn-sm">Data</a>
    </div>
  </div>
</nav>

<div class="container">