<%- include('partials/header') %>

<div class="card">
  <h3 class="mb-3">Data Cheesecake 🍰</h3>

  <table id="table" class="display">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Harga</th>
        <th>Stock</th>
        <th>Aksi</th>
      </tr>
    </thead>
  </table>
</div>

<%- include('partials/footer') %>