<%- include('partials/header') %>

<div class="card">
  <h3 class="mb-3">Tambah Cheesecake 🍰</h3>

  <input id="name" class="form-control mb-3" placeholder="Nama Cheesecake">
  <input id="price" class="form-control mb-3" placeholder="Harga">
  <input id="stock" class="form-control mb-3" placeholder="Stock">

  <button onclick="saveData()" class="btn btn-primary w-100">Simpan</button>
</div>

<%- include('partials/footer') %>